// HTML markup

// <div class="flipbox">
// <div class="flipbox__container">
//   <div class="flipbox__container--front"></div>
//   <div class="flipbox__container--back"></div>
// </div>
// </div>

//style

//can add adition style dynamically with argument

@mixin flipbox__item {
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    backface-visibility: hidden;
    border-radius: 5px;
}

@mixin makeDirection ($isHorizontal : false) {
    @if $isHorizontal {
        transform: rotateY(180deg);
    }

    @else {
        transform: rotateX(180deg);
    }
}

.flipbox {
    perspective: 500rem;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: 0.5s;

        &--front {
            @include flipbox__item()
        }

        &--back {
            @include flipbox__item();
            position: absolute;
            top: 0;
            left: 0;
            @include makeDirection(false)
        }

        &:hover {
            @include makeDirection(false)
        }
    }
}